@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
ul li a {
  color: #000;
}

ul li a:hover {
  color: #00a8ff;
}

ul li a.active {
  color: #00a8ff;
}

.wrapper {
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
}

.d-flex {
  display: flex;
  height: 100%; /* Ensure flex container takes full height */
  width: 100%; /* Ensure flex container takes full width */
}

.main-container {
  flex-grow: 1; /* Allow main container to grow and fill available space */
  overflow-y: auto; /* Add scroll if content overflows */
}

.position-relative {
  position: relative;
}

.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  height: 100%; /* Sidebar takes full height of the screen */
  background-color: #f8f9fa; /* Example background color */
}
